# Create a database use config/db.sql insert for mysql/mariaDB console
# Create news user for db : CREATE USER 'livecodes'@'localhost' IDENTIFIED BY 'Root2026!';
# Give access for user : GRANT ALL PRIVILEGES ON nom_base.* TO 'livecodes'@'localhost';
# And edit  "db.config.ts" for raison !
DB_NAME="auth"
DB_PASSWORD="Your Pass for DB"
DB_USER="Your User for DB"
DB_HOST="localhost"
DB_PORT=3306

SECRET_KEY="dgjshdfguykdshgdfkjhgfjdsf0011231141.20231$$"

# Enter 3000 by default
PORT=""

URL_FRONTEND=""
